
* {font-family: 'Times New Roman', Times, serif;}
*{background-color: beige;}




img {
    max-width:1 em;
    float: right
}
h1 {
    text-align: center;
    color: #4dc724
}
h2 {
    color:blueviolet
}
h3 {
    color:blueviolet
}
h4 { 
    color:blueviolet
}
h5 {
    color: blueviolet;
}
