*{font-family: 'Times New Roman', Times, serif;}
h1{
    color: darkred;
    font-size: large;
}
h2{
    font-style: italic;
}
h3{
    color: darkgoldenrod;
}
h4{
    color: darkgoldenrod;
}
h5{
    color: darkgoldenrod;
}
*{background-color: beige;}